@media (min-width: 768px) {
.warna-bg{
	background: linear-gradient(to right, rgba(91,134,229, .92), rgba(54,209,220, .92)) ;
}
.bg-navbar{
	background: url(img/bg-3.jpg);
	background-size: cover ;
	background-repeat: no-repeat;
	background-size: 100%;
	

}
.navbar-brand{
	text-shadow: 2px 2px 5px;
	font-size: 32px;

}
.container content: {
	background: #979c98;
}
/*Jumbotron*/
.jumbotron-bg{
	background-size: cover;
	background: url(img/bg-2.jpg);
	background-size: 300px;
}
/*End of Jumbotron*/

/*Navbar*/
.navbar-brand{
	font-family: Viga;
	font-size: 32px;
}
.nav-link{
	text-transform: uppercase;
	margin-right: 30px;
	font-family: Montserrat;
}
.navbar-collapse{
	text-align: center;
}
ul:hover::after{
	width: 100%;
	transition: width .3s;

}
.image-article {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 250px;
}
p{
	font-style: Montserrat;	
}
.downloadd{
	width: 300px;
	height: 250px;
	te
}
.img-thumbnail{
	position: relative;
}

.warna-footer{
	background-color:  #1f2e2e;
}
.footer{
	text-decoration: none;
}
.card-text{
	
	text-align: center;
}
.read-more{
	margin-left: 38%;
}
.read-more-2{
	margin-left: 38%;
}
.icons{
	margin-left: -33px;
}
/*gg*/
body{
	background-color: #c9c8c5;
}

.pagination{
	position: relative;
	margin-left: 2px;
	margin-right: 2px;
	background: #fff;
	display: flex;
	padding: 10px 25px;
	border-radius: 50px;
	box-shadow: 0 5px 15px rgba(0,0,0,.02);

}
.pagination li{
	list-style: none;
	line-height: 42px;
	margin: 0 0px;
}
.pagination li.bar{
	width: 100px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.pagination li a{
	display: block;
	text-decoration: none;
	color: #1ad1ff;
	font-weight: 600;
	border-radius: 80px;
}
.pagination li.bar.active a,
.pagination li.bar:hover a{
	background: #1ad1ff;
	color: #fff;
}
.pagination li:first-child{
	margin-right: 20px;
	font-weight: 700;
	font-size: 20px;
}
.pagination li:last-child{
	margin-left: 20px;
	font-weight: 700;
	font-size: 20px;
}
/*Test*
body{
	background-color: #c9c8c5;
}
.pagination{
	position: relative;
	margin-top: 30px;
	margin-bottom: -100px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: inline-flex;
	
	background: #fff;
	border-radius: 25px;
	box-shadow: 0 15px 20px rgba(0,0,0,.5);
}
.pagination .bar{
	list-style: none;
}
.pagination .bar a{
	display: block;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	color: #2626226;
	text-decoration: none;
	border-radius: 4px;
	margin: 5px;
	box-shadow: inset 0 5px 10px rgba(0,0,0,.1), 0 2px 5px rgba(0,0,0,.5);
}

.pagination .bar:first-child a{
	border-radius: 20px 0 0 20px;

}

.pagination .bar:last-child a{
	border-radius: 0 20px 20px 0;
	
}
.active{
	color: blue;
}
.pagination .bar a.active,
.pagination .bar a:hover{
	background: #1ad1ff;
	color: #fff;
}
/*top-left top-right bottom-right bottom-left*/ 
.btn-primary{
	background-color: #1ad1ff;
	border-color: #1ad1ff;
	color: #fff;
}
.text{
	color: black;
	font-family: Montserrat;
}
.text:hover{
	color: #1ad1ff;
}
#navbarNavDropdown{
	margin-left: 50px;
}
}
/*Desktop*/
@media (min-width: 992px){
	.navbar-collapse{
		padding-left: 50%;
	}
	.read-more{
	margin-left: 34%;
}
.read-more-2{
	margin-left: 40%;
}
.pagination{
	position: relative;
	background: #fff;
	margin-left: 33%;
	margin-right: 33%;
	display: flex;
	padding: 10px 20px;
	border-radius: 50px;
	box-shadow: 0 5px 15px rgba(0,0,0,.02);
}
#navbarNavDropdown{
	margin-left: 0px;
}
}